<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WotC Article Scraper</title>
    <meta name="viewport" content="width-device-width, intitial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css">
</head>

<body>
    {{{ body }}}
</body>

</html>